/* Base styles */

*{
    box-sizing:border-box;
}
html, body {
    height: 100%;
  }

 body{
    background:#F3F0F0;
}
header{
    background:lightblue;
    padding:1em 0;
    margin:auto;
    width:100%;
}
header h1{
    text-transform: uppercase;
    text-align:center;
    text-shadow: -0.5px 0 blue, 0 0.5px blue, 0.5px 0 blue, 0 -0.5px blue;
   
 }

/* Navigation */
nav ul{
    text-align:center;
    
}

nav li{
    list-style-type:none;
    background:white;
    margin-right:40px;
    
}
nav a{
    text-decoration:none;
    text-transform:uppercase;
    color:black;
    display:block;
    margin-bottom:5px;    
}
.start{
   max-width:90%;
   padding:20px;
   display:block;
   margin:0 auto;
   text-align:center;
}

/* Introduction */

.title{
    text-align:center;
    text-transform: uppercase;
    margin-bottom:50px;
}
 .profile_image{
    display:block;
    margin:auto;
    max-width:90%;
    box-shadow:  4px 4px 20px 4px lightblue;
} 
.intro p{
    text-align:center;
}
 .intro{
     background:#CAF5F2;
 }
 /* Main Content */

.portfolio{
    background:#A8FAF3;
    
}

.portfolio h2{
    text-transform:uppercase;
    text-align:center;
}
.portfolio p{
    text-align:center;
   
}

 .portfolio img{
 display:block;
 max-width:80%;
 margin:auto;
} 

.main-content h2{
    text-transform:uppercase;
} 


/* Contact Details */

.lower-content h2{
    text-align:center;
    text-transform:uppercase;
    font-size:1.5em;
}
.lower-content p{
    text-align:center;
    
}
/* THE FOOTER */
footer {
    
    width: 100%; 
    height: 100px;
    padding: 20px;
    background-color: #8bccde;
  }
  footer h2 {
    float: left;
    height: 12px;
    line-height: 12px;
  }
  .footer-nav{
      text-align:right;
  }
  .footer-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  .top, .footer-nav li:last-child {
    margin-right: 0;
  }
  .footer-nav .full {
    display:none;
  
  }

footer a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  line-height: 1.38em;
    
}
footer ul{
    list-style:none;
    padding-left:0;
}

 
/* Styling */
.port1 img:hover{
    box-shadow: 4px 4px 8px 10px lightblue;
}
.port2 img:hover{
    box-shadow: 4px 4px 8px 10px #E1AD4C;
}
.port3 img:hover{
    box-shadow: 4px 4px 8px 10px #4186EF;
}
.port4 img:hover{
    box-shadow: 4px 4px 8px 10px  #41EEE3;
}
.port5 img:hover{
    box-shadow: 4px 4px 8px 10px #AF6AF1;
}
.port6 img:hover{
    box-shadow: 4px 4px 8px 10px #BAB8BD;
}
.portfolio h2:hover{
    text-decoration:underline;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:underline;
    color:blue;
}
.lower-content:hover,
.intro:hover{
    background:#A5F9BB;
}
.portfolio:hover{
    background:#B2BD85;
    border-radius: 20px;;
}
.title,
.lower-content h2{
    text-shadow: -0.5px 0 blue, 0 0.5px blue, 0.5px 0 blue, 0 -0.5px blue;
}
p{font-size:1.3em;
}
.lower-content{
    background:#CAF5F2;
    border-radius:10px;

}
.lower-content a{
    background:white;
}
/* MEDIA QUERIES */

@media (min-width:768px) {

    /* Navigation */
    .large_nav li{
        display:inline-block;
        margin-left:20px;
    }
    .large_nav ul{
        margin-left:40px;
    }
    .large_nav{
        width: 65%;
        float:right;
   }
   .large_h1{
       width:30%;
       float:left;
   }
   /* Main content */
   .portfolio{
    width:44%;
    float: left;
    padding:1%;
    margin:1%;
}
/* Introduction */
   .intro img{
       width:35%;
       float: right;
   }
   .intro p{
       width:58%;
       float:left;
       text-align:justify;
       font-size:1.3em;
       line-height:1.5;

   }
   
    .intro{
        margin:auto;
        width:90%;
    }
    /* Footer */
    .footer-nav .top{
        display:none;
    }
    .footer-nav .full{
        display:inline-block;
    }
    
    
    /* CLEARFIX FOR MEDIA QUERY */
    .clearfix::after{
        content:" ";
        clear:both;
        display:table;
    } 
}



@media(min-width:1024px){
     .start{
         padding:0;
     }

     /* main content */

     .portfolio{
         width:30%;
         margin:auto;
         float:left;
         padding:1%;
         margin:1%;    
     }
     
/* navigation for large screen */
     .large_nav li{
         display:inline-block;
         margin-left:40px;
     }
     .large_nav ul{
         margin-left:40px;
     }
      .large_nav{
         width: 65%;
         float:right;
    }
    .large_h1{
        width:30%;
        float:left;
    } 
/* Introduction */
     .intro{
         margin:auto;
         max-width:90%;
     }
     .intro p{
         width:65%;
         line-height:1.5em;
         font-size:1.5em;
     }
     .intro .profile_image{
         width:30%;
     }
     .intro .profile_image{
         float:right;
     }
     .intro p{
         float:left;
     }
     /* Footer */
     .foot_h2{
      
         float:left;
     }
     .foot_nav{
        
        float:right;
     }
     .foot_nav li{
         display:inline-block;
     }
     .foot_big{
         padding-left:20px;
         padding-right:20px;
     }
     /* CLEARFIX FOR MEDIA QUERY */
     .clearfix::after{
        content:"";
        clear:both;
        display:table;
    }
}