/*  BASE STYLES */

*{
    box-sizing:border-box;
}
html, body {
    height: 100%;
  }
 body{
    background:#F3F0F0;
}
header{
    background:lightblue;
    padding:1em 0;
    margin:auto;
    width:100%;
   
    
}
nav ul{
    text-align:center;
    
}

nav li{
    list-style-type:none;
    background:white;
    margin-right:40px;
    
}
nav a{
    text-decoration:none;
    text-transform:uppercase;
    color:black;
    display:block;
    margin-bottom:5px;    
}
.start{
   max-width:90%;
   padding:20px;
   display:block;
    margin:0 auto;
    /* border:2px solid blue; */
    text-align:center;
}
.title{
    text-align:center;
    text-transform: uppercase;
    margin-bottom:50px;
}
.profile_image{
    display:block;
    margin:auto;
    max-width:90%;
    box-shadow:  4px 4px 20px 4px lightblue;
}
/* THE FOOTER IN OFFICE HOURS */
footer {
    position: absolute;
    /* when I comment out position:absolute the footer disappers */
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #107896;
  }
  footer h2 {
    float: left;
    height: 12px;
    line-height: 12px;
  }
  .footer-nav{
      text-align:right;
  }
  .footer-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  .top, .footer-nav li:last-child {
    margin-right: 0;
  }
  .full {
    display: none;
    /* I tried this also but .full items were unaffected */
  }

footer a{
    text-decoration: none;
  color: white;
  text-transform: uppercase;
  line-height: 1.38em;
    
}
footer ul{
    list-style:none;
    padding-left:0;
}

header h1{
    text-transform: uppercase;
    text-align:center;
    text-shadow: -0.5px 0 blue, 0 0.5px blue, 0.5px 0 blue, 0 -0.5px blue;
   
 }


.portfolio h2{
    text-transform:uppercase;
    text-align:center;
}
.portfolio p{
    text-align:center;
   
}
.portfolio img{
 display:block;
 max-width:80%;
 margin:auto;
}

.main-content h2{
    text-transform:uppercase;
   
} 


footer span{
    float:left;
}
footer a{
    float:right;
    text-decoration:none;
}
footer::after{
    content: " ";
    clear:both;
    display:table;
} 
.portfolio img{
    display:block;
    max-width:80%;
    margin:auto;
}
.lower-content h2{
    text-align:center;
    text-transform:uppercase;
    font-size:1.5em;
}
.lower-content p{
    text-align:center;
    
}


/* MEDIA QUERIES */

@media (min-width:769px) {
    .large_nav li{
        display:inline-block;
        margin-left:20px;
    }
    .large_nav ul{
        margin-left:40px;
    }
    .large_nav{
        width: 65%;
        float:right;
   }
   .large_h1{
       width:30%;
       float:left;
   }
   .intro img{
       width:35%;
       float: right;
   }
   .intro p{
       width:58%;
       float:left;
       text-align:justify;

   }
    .portfolio{
        width:46%;
        float: left;
        padding:1%;
    }
   
    .intro{
        margin:auto;
        width:90%;
    }

    
    
    /* CLEARFIX FOR MEDIA QUERY */
    .clearfix::after{
        content:" ";
        clear:both;
        display:table;
    } 
    /* footer{
        display:none;
    } */



@media(min-width:1024px){
 
    
     .start{
         padding:0;
     }
     
     .portfolio{
         width:30%;
         margin:auto;
         float:left;
         padding:1%;
         margin:1%;    
     }
     
    


/* navigation for large screen */
     .large_nav li{
         display:inline-block;
         margin-left:40px;
     }
     .large_nav ul{
         margin-left:40px;
     }
     .large_nav{
         width: 65%;
         float:right;
    }
    .large_h1{
        width:30%;
        float:left;
    }

     .intro{
         margin:auto;
         max-width:90%;
     }
     .intro p{
         width:65%;
         line-height:1.5em;
         font-size:1.5em;
     }
     .intro .profile_image{
         width:30%;
     }
     .intro .profile_image{
         float:right;
     }
     .intro p{
         float:left;
     }
     .foot_h2{
      
         float:left;
     }
     .foot_nav{
        
        float:right;
     }
     .foot_nav li{
         display:inline-block;
     }
     .foot_big{
         padding-left:20px;
         padding-right:20px;
     }
     /* CLEARFIX FOR MEDIA QUERY */
     .clearfix::after{
        content:" ";
        clear:both;
        display:table;
    }
    /* footer{
        display:none;
    } */
     
}
